/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'Corbel';
  src: url('/css/typefaces/Corbel.eot'); /* IE9 Compat Modes */
  src: url('/css/typefaces/Corbel.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/typefaces/Corbel.woff') format('woff'), /* Pretty Modern Browsers */
       url('/css/typefaces/Corbel.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@import 'jeet/index';

@mixin blur($radius...) {
    -webkit-filter: blur($radius);
    filter: blur($radius);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway';
}

.background-image {
    position: fixed;
    height: 120%;
    width: 120%;
    top: -10%;
    left: -10%;
    z-index: -1;
    
    background-image: url(/backgrounds/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    
    &.blur {
        @include blur(10px);
    }
}

.item { 
    @media only screen and (max-width: 2100px) {
        width: calc(16.66666% - 16px);
    }
    
    @media only screen and (max-width: 1800px) {
        width: calc(20% - 16px);
    }
    
    @media only screen and (max-width: 1500px) {
        width: calc(25% - 16px);
    }
    
    @media only screen and (max-width: 1200px) {
        width: calc(33.33333% - 16px);
    }
    
    @media only screen and (max-width: 900px) {
        width: calc(50% - 16px);
    }
    
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.container {
    position: absolute;
    min-height: 100%;
    width: 100%;
//    background-color: rgba(152, 152, 152, 0.5);
    
    nav {
        height: 40px;
        width: 100%;
        padding: 20px 60px 0;
        position: fixed;
        z-index: 2;
        
//        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, 0)));
        
        .bg {
            position: absolute;
            width: 120%;
            height: 120%;
            top: -10%;
            left: -10%;
            
            background-image: url(/backgrounds/1.jpg);
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
            
            @include blur(10px);
        }
        
        h1 {
            position: relative;
            text: { transform: uppercase; }
            font: { size: 24px; weight: 600; }
            letter-spacing: 1px;
            color: #ededed;
        }
    }
    
    #news {
        margin: 60px 60px 0;
        
        a {
            margin: 10px 0;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, .6);
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            
            text: { decoration: none; }
            color: #111;
            
            transition: background-color .2s ease-in-out;
            cursor: pointer;
            
            opacity: 0;
            
            img {
                width: 100%;
            }
            
            article {
                padding: 12px;
                
                h3 {
                    font: { size: 14px; weight: 700; }
                    color: #2c2c2c;
                    line-height: 17px;
                    margin-bottom: 14px;
                }

                span {
                    display: block;
                    margin-top: 10px;
                    color: #333;
                    font-size: 12px;
                }

                p {
                    color: #222;
                    font: { size: 13px; family: 'Corbel'; }
                    line-height: 15px;
                }
            }
            
            &.noimage {
                border-radius: 6px;   
            }
            
            &:hover {
                background-color: rgba(255, 255, 255, .9)
            }
        }
    }
}